<div *ngIf="category" class="accordion-item">
  <h2 class="accordion-header" id="heading{{ category.nombre }}">
    <button
      class="accordion-button"
      [class.collapsed]="!expanded"
      type="button"
      (click)="toggleExpansion()"
      [attr.aria-expanded]="expanded"
    >
      {{ category.nombre }}
    </button>
  </h2>
  <div
    *ngIf="expanded"
    id="collapse{{ category.nombre }}"
    class="accordion-collapse collapse show"
  >
    <div class="accordion-body">
      <ng-container *ngFor="let producto of category.productos">
        <div>
          <section>
            <p>{{ producto.descripcion }}</p>
            <p>Precio: {{ producto.precio | currency }}</p>
            <!-- El stock y el código deberían venir del modelo de producto o un servicio -->
            <p>Código: {{ producto.codigo }}</p>
          </section>
          <section>
            <img
              [src]="producto.imagen"
              [alt]="producto.descripcion"
              style="width: 100px"
            />
            <button
              class="btn btn-primary"
              (click)="addProductToCart(producto)"
            >
              Agregar a la cesta
            </button>
          </section>
        </div>
      </ng-container>
    </div>
  </div>
</div>
